01_http_prjct/src/main/app/01_http_prjct.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
   <file:connector name="File" writeToDirectory="C:\Users\861322\Desktop\MULE\Output" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="01_http_prjctFlow" doc:name="01_http_prjctFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="Msg" doc:name="HTTP"/>
        <expression-filter expression="#[message.inboundProperties.'http.request.uri' != '/Naveen']" doc:name="Expression"/>
        <logger message="#['Request Path is:' + message.inboundProperties.'http.request.path' + '&amp; Message ID is: ' + message.id]" level="INFO" doc:name="Logger"/>
        <set-payload value="#[message.inboundProperties.'http.request.path' + ' &amp; Message ID is:  ' + message.id + ' Ran at ' + server.dateTime.format('dd/MM/YY HH:MM:SS')]" doc:name="Set Payload"/>
        <file:outbound-endpoint path="C:\Users\861322\Desktop\MULE\Output" outputPattern="#[message.inboundProperties.'http.request.uri'  + ' '+ message.id + '.txt']" connector-ref="File" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
